:root{
  --roxo: rgb(46, 1, 45);
  --azulClaro:azure;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}


html{font-family: monospace; font-size: 1.2em;}

nav{
  font-family: monospace;
  font-size: 1em;
  font-weight: lighter;
  color: purple;
  padding: 5%;
}

header{
  /*Position*/
  position: fixed;
  width: 100%;
  
  /*Background*/
    background: var(--roxo);

  /*Texto*/  
    text-align: left;
    font-style: bold;
    font-family: monospace;
    font-size: xx-large;
    color: azure;
    padding-left: 5%;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
  font-weight: light;
}

h3{
  font-size: 1.0em;
  font-style: normal;
  font-weight: lighter;
  padding-left: 1%;
}

h4{
  font-size: 0.75em;
  text-align: center;
}

h5{
  text-align: left;
  font-weight: lighter;
  font-size: 1.0em;
}

h2,h3,h4,h6{
  padding-top: 1%; padding-bottom: 1%;
}

h6{
  text-align: center;
}

body::before{
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;
  filter: blur(5px) brightness(1);
  background-image: url("/home/guilherme/sitepro/img/hahabg.jpeg");
  background-position: left top;
  background-attachment: scroll;
}

main{
  background-color: white;
  padding: 5%;
  margin: auto;
  border-radius: 8%;
  width: 80%;
  box-shadow: 0.7em 0.7em 1em 1em rgb(2, 2, 4);
}

/*aside{
  background-color: white;
  padding: 5%;
  margin: auto;
  border-radius: 8%;
  width: 80%;
  box-shadow: 0.7em 0.7em 1em 0em darkslateblue;
}*/

/*Configurações de imagens*/
img{
  width: 90%; padding: 1%;
}

/*Configurações de parágrafos*/
p{
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Configurações de parágrafos p/ mobile*/
@media(min-width: 320px) and (max-width: 800px){
  
  p{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
}

/*Configurações Grid*/
#grid-content{
  background-color: antiquewhite;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1024px;
  margin: auto;
  gap: 2px;
}

.grid div{
  background-color:white; text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Configuração Botão*/
button{
  padding: 8px 20px 8px 20px;
  background-color:var(--roxo);
  color: white;
  font-weight: bold;
  border-radius: 1.3em;
  display: block;
  margin: auto;
  transition: 0.2s ease-out;
}

button:hover{
  background-color: purple;
}

a:link, a:visited{
  background-color: var(--roxo);
  color: aliceblue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1.3em;
}

a:hover, a:active{
  background-color: purple;
}

/*Divs*/
.separador{
  margin-top: 15vh;
}

footer{
  background-color: var(--roxo);
  color: var(--azulClaro);
}